/*ALL SECTION*/
html{
	background-color: darkgrey;
	font-family: 'Monda', sans-serif;
	font-size: 14px;
}
/*Header*/
.header{
	text-align: Center;
	padding: 10px;
}
/*NavBar*/
.topnav{
	overflow: hidden;
	background-color: #333;
}
.topnav a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.topnav a:hover{
	background-color: #ddd;
	color: black;
}
/*Footer*/
footer{
	text-align: center;
	padding: 10px;
	font-size: 12px;
}
/*Dropdown*/
.dropdown{
	float: left;
	overflow: hidden;
}
.dropdown .dropbtn{
	border: none;
	outline: none;
	color: #f2f2f2;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
.dropdown:hover .dropbtn{
	background-color: #ddd;
	color: black;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 160px;
	z-index: 1;
}
.dropdown-content a{
	float: none;
	color: #f2f2f2;
	background-color: #333;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover{
	background-color: #ddd;
	color: black;
}
.dropdown:hover .dropdown-content{
	display: block;
}
/*Extras*/
.redstatus{
	color: red;
	font-style: italic;
}
.yellowstatus{
	color: yellow;
	font-style: italic;
}